LIRAPAY_API_KEY=
LIRAPAY_RECIPIENT_ID=
PIXGO_API_KEY=
FB_ACCESS_TOKEN=
FB_PIXEL_ID=
ADMIN_PASSWORD=
TIKTOK_PIXEL_ID=
TIKTOK_ACCESS_TOKEN=
SYNCPAY_CLIENT_ID=
SYNCPAY_CLIENT_SECRET=
SYNCPAY_BASE_URL=https://api.syncpayments.com.br
SIGILOPAY_PUBLIC_KEY=
SIGILOPAY_SECRET_KEY=
API_PORT=3005
PORT=3002
VITE_ADMIN_PASSWORD=2606